@media screen and (max-width: 650px) {
  .header {
    margin-top: 28px;
    width: 320px;
    height: 56px;
  }
  .header__logo {
    width: 126px;
    height: 24px;
    padding-left: 27px;
  }
  .profile {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 36px;
    font-size: 14px;
    line-height: 17px;
  }
  .profile__add-button {
    margin: 0;
    width: 282px;
  }
  .profile__title {
    font-size: 22px;
    line-height: 27px;
    padding-right: 10px;
  }
  .profile__image {
    margin: 0;
  }
  .footer {
    font-size: 14px;
    line-height: 17px;
    padding-left: 19px;
  }
}
